/* Auto resize */
.repl .CodeMirror {
  border: 1px solid #ccc;
  border-left: none;
  height: auto;
  min-height: 4em;
}
.repl .CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
  min-height: 4em;
}
.repl .run-btn {
  vertical-align: bottom;
}
.repl .error {
  display: none;
  margin-top: 10px;
}

.repl .result {
  background: #fff;
}

.repl .CodeMirror-gutters {
  background-color: #eee;
}

.repl {
  margin-bottom: 60px;
}

.repl .run-btn {
  cursor: pointer;
  vertical-align: middle;
}

html, body {
  height: 100%;
}

#main-wrapper {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom:40px;
}

#footer {
  background-color: #eee;
  border-top: 1px solid #ccc;
}

#footer-wrapper {
  position: relative;
  margin-top: -42px;
  height: 21px;
  clear:both;
  padding-top:21px;
} 
