/* Auto resize */
.repl .CodeMirror {
  border: 1px solid #ccc;
  border-left: none;
  height: auto;
  min-height: 4em;
}
.repl .CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
  min-height: 4em;
}
.repl .run-btn {
  vertical-align: bottom;
}
.repl .error {
  display: none;
  margin-top: 10px;
}

.repl .result {
  background: #fff;
}

.repl .CodeMirror-gutters {
  background-color: #eee;
}

.repl {
  margin-bottom: 60px;
}

.repl .run-btn {
  cursor: pointer;
  vertical-align: middle;
}

.loaded {
  visibility: hidden;
}
